@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: lightblue;
  color:lightcoral;
  text-align: center;
  margin-top: 100px;
}

.card {
  width: 300px;
  display: flex;
  flex-wrap: row wrap;
  margin: 10px;
  flex-direction: column;
  border-radius: 20%;
  padding: 10px;
}
